.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
.env
.env.local
storage/*.sqlite*
storage/.app_key
gawdee_mysql_dump.sql
assets/uploads/*
!assets/uploads/.gitkeep
!assets/uploads/banners/
assets/uploads/banners/*
!assets/uploads/banners/.gitkeep

